{% extends "layout.html.twig" %}

{% block title %}{{book.book_title }}{% endblock %}

{% block content %}
<p>
    <h2>{{ book.book_title }}</h2>
    <ul>
         <li>Autheur: 		    
            {% if author is not empty %}
		        <strong>{{ author.auth_first_name }}</strong>  {{  author.auth_last_name }}
		    {% else %}
			    Aucun auteur trouvé
			{% endif %}
		  </li>
		 <li>Isbn: {{ book.book_isbn}}</li>
    </ul>
    <p>{{ book.book_summary }}</p>
</p>
{% endblock %}